---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import IndexStyles from './IndexStyle.astro';
import IndexScripts from './IndexScripts.astro';

import BlogPostScript from '../../layouts/BlogPostScript.astro';
import BlogPostStyle from '../../layouts/BlogPostStyle.astro';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <div class="back-link-container">
        <a href="./" class="back-button" aria-label="Back to Blog">
            <svg viewBox="0 0 24 24" aria-hidden="true" width="28" height="28">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
            </svg>
        </a>
    </div>

    <div class="up-link-container">
        <button id="to-top-button" class="up-button" aria-label="Back to Top">
            <svg viewBox="0 0 24 24" aria-hidden="true" width="28" height="28">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18"></path>
            </svg>
        </button>
    </div>
    <BlogPostStyle />
    <BlogPostScript />
    <main>
        <section class="header-section">
            <h1 class="tagline">Galerie</h1>
            <div class="search-container">
                <input 
                    type="text" 
                    id="search-input" 
                    class="search-box" 
                    placeholder="Search..."
                    aria-label="Search"
                />
                <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.35-4.35"></path>
                </svg>
            </div>
        </section>

        <section class="posts-section">
            <ul id="posts-list">
                {
                    posts.map((post) => (
                        <li class="post-card" data-title={post.data.title.toLowerCase()}>
                            <a href={`/blog/${post.id}/`}>
                                <div class="image-container">
                                    {post.data.heroImage && (
                                        <Image 
                                            width={1600} 
                                            height={1600} 
                                            quality={100}
                                            format="png"
                                            src={post.data.heroImage} 
                                            alt={post.data.title}
                                            transition:name={`hero-${post.id}`} 
                                        />
                                    )}
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">{post.data.title}</h4>
                                    <p class="card-date">
                                        <FormattedDate date={post.data.pubDate} />
                                    </p>
                                </div>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>

    <IndexStyles />
    <IndexScripts />
</BaseLayout>