---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
// 导入抽离的组件
import BlogPostScript from './BlogPostScript.astro';
import BlogPostStyle from './BlogPostStyle.astro';

type Props = CollectionEntry<'blog'>['data'] & { id?: string };
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const { id = Astro.params.slug } = Astro.props; 
---

<BaseLayout title={title} description={description}>
    <BlogPostStyle />

    <div class="back-link-container">
        <a href="/blog" class="back-button" aria-label="Back to Blog">
            <svg viewBox="0 0 24 24" aria-hidden="true" width="28" height="28">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
            </svg>
        </a>
    </div>

    <div class="up-link-container">
        <button id="to-top-button" class="up-button" aria-label="Back to Top">
            <svg viewBox="0 0 24 24" aria-hidden="true" width="28" height="28">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18"></path>
            </svg>
        </button>
    </div>

    <main>
        <article>
            <div class="hero-image">
                {heroImage && (
                    <Image 
                        // width={heroImage.width} 
                        width={2400} 
                        // height={510}
                        quality={100}
                        format="png"
                        src={heroImage} 
                        alt="" 
                        transition:name={`hero-${id}`} 
                    />
                )}
            </div>
            <div class="prose">
                <div class="title">
                    <div class="date">
                        <FormattedDate date={pubDate} />
                        {updatedDate && (
                            <div class="last-updated-on">
                                Last updated on <FormattedDate date={updatedDate} />
                            </div>
                        )}
                    </div>
                    <h1>{title}</h1>
                    <hr />
                </div>
                <slot />
            </div>
        </article>
    </main>

    <BlogPostScript />
</BaseLayout>